<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awesome Profile Cards</title>

    <!-- Tipografía -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/016f8587a2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <section class="main-preview">
      <article class="profile-card">
        <div class="main-preview-wrapper js_style_preview style_002">
          <div class="profile-card-border">
            <h2 class="profile-card__name js_name"><%= name %></h2>
            <p class="profile-card__occupation js_ocupation"><%= job %></p>
          </div>
          <div class="profile">
            <div
              class="profile__avatar"
              style="background-image: url('<%= photo %>')"
            ></div>
          </div>
          <ul class="profile-card__social">
            <li>
              <a
                class="social-links js_icon_phone"
                title="Este es mi número de teléfono"
                href="tel: <%= phone %>"
                ><i class="fa-solid fa-mobile-screen-button"></i
              ></a>
            </li>
            <li>
              <a
                class="social-links js_icon_email"
                title="Envíame un email"
                href="mailto: <%= email %>"
                ><i class="fa-regular fa-envelope"></i
              ></a>
            </li>
            <li>
              <a
                class="social-links js_icon_linkedin"
                title="Sigueme en LinkedIn"
                target="_blank"
                href="https://www.linkedin.com/in/<%= linkedin %>"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a
                class="social-links js_icon_github"
                title="Sigueme en GitHub"
                target="_blank"
                href="https://github.com/<%= github %>"
                ><i class="fa-brands fa-github-alt"></i
              ></a>
            </li>
          </ul>
        </div>
      </article>
    </section>
  </body>
</html>
